html{
    background: linear-gradient(#b5230c,#e9cc94);
;
}

header{
    place-self: ;
}
body{
color: #ae2727;
margin: 0px;

}
img{
    
 float:right;
        
}
h1{
    color: #4d4159;
    font-family: serif;
}

h2{
    color: #f0870f;
}
div p {
    
    background: linear-gradient(
        to right,
        #64597a 20%,
        #293f66 30%,
        #47160c 70%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-size: x-large;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h3{
    color: #f0870f;
}

ol li{

    list-style: none; counter-reset: li

    li::before {content: counter(li); color: red;
        display: inline-block; width: 1em;
        margin-left: -1em}   
} 
p{
    color: orange;
}
a{
    color: #580404;
    text-decoration: none;
    font-style: oblique;
}

img{
    object-fit: cover;
}